@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  background-color: white !important;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 40rem) {
  .container {
    padding: 0 1rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 40rem) {
  .container {
    padding: 0 2rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 64rem) {
  .container {
    padding: 0 4rem;
    margin: 1.5rem;
  }
}

@media only screen and (min-width: 80rem) {
  .container {
    padding: 0 15rem;
    margin: 3rem;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 40rem) {
  header img {
    height: 12rem;
  }
}

@media only screen and (min-width: 40rem) {
  header img {
    height: 20rem;
  }
}

@media only screen and (min-width: 64rem) {
  header img {
    top: -4rem;
    height: 25rem;
  }
}

@media only screen and (min-width: 80rem) {
  header img {
    top: -10rem;
    height: 32rem;
  }
}

@media only screen and (max-width: 40rem) {
  header {
    padding: 4rem 2rem 0 2rem;
  }
}

@media only screen and (min-width: 40rem) {
  header {
    padding: 6rem 2rem 4rem 2rem;
  }
}

@media only screen and (min-width: 64rem) {
  header {
    padding: 6rem 2rem 6rem 2rem;
  }
}

header p {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  color: white;
  text-align: center;
  text-align: center;
}

header .h-title {
  font-size: 2.25rem;
  font-weight: bolder;
  margin: 0.875rem;
  line-height: 49px;
}

header .h-subtitle {
  font-size: 1.125rem;
  margin: 0.875rem;
}

@media only screen and (max-width: 40rem) {
  header .h-subtitle {
    margin-top: 5rem;
    margin-bottom: 0;
    color: #422755;
  }
}

main {
  margin-top: 4.375rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 40rem) {
  main {
    margin-top: 2rem !important;
  }
}

main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FEAF3D;
  margin-bottom: 4.375rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 67.5rem;
}

@media only screen and (max-width: 48rem) {
  main .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 48rem) {
  main .search {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 48rem) {
  main .search form {
    margin-bottom: 1rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .search form input {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.5rem 0 0 0.5rem;
  background: white;
  width: 14.625rem;
  height: 2.125rem;
  border: 0;
  padding: 0 0 0 1rem;
  font-size: 0.75rem;
  text-decoration: none;
}

@media only screen and (max-width: 48rem) {
  main .search form input {
    width: 80%;
  }
}

main .search form button {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 4.313rem;
  margin-left: -0.5rem;
  height: 2.125rem;
  font-size: 0.875rem;
}

main .search form button:hover {
  background: #422755;
}

main .search-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif !important;
}

@media only screen and (max-width: 48rem) {
  main .search-select {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main .search-select label {
  white-space: nowrap;
  color: white;
  font-size: 0.875rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

main .search-select select {
  border-radius: 0.5rem;
  width: 14.625rem;
  height: 2.125rem;
  border: 0;
  padding: 0 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
  background: url("data:image/svg+xml,<svg height='0.625rem' width='0.625rem' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat right #fff;
  -webkit-appearance: none;
  padding-right: 2rem !important;
  background-position: calc(100% - 0.75rem) center !important;
}

@media only screen and (max-width: 48rem) {
  main .search-select select {
    width: 80%;
  }
}

main .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.375rem;
}

main .tasks-grid {
  margin-bottom: 3.125rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 40rem) {
  main .tasks-grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[1];
        grid-template-columns: repeat(1, minmax(16rem, 1fr));
  }
}

@media only screen and (min-width: 40rem) {
  main .tasks-grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(16rem, 1fr));
  }
}

@media only screen and (min-width: 64rem) {
  main .tasks-grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[3];
        grid-template-columns: repeat(3, minmax(16rem, 1fr));
  }
}

@media only screen and (min-width: 80rem) {
  main .tasks-grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[4];
        grid-template-columns: repeat(4, minmax(16rem, 1fr));
  }
}

main .tasks-more {
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: 0.5rem 2.5rem;
}

main .tasks-more:hover {
  background: #422755;
}

main .tasks .task-card-popup {
  position: absolute;
  z-index: 100;
  background: #422755;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  border-radius: 0 .313rem .313rem 0;
  padding: .5rem .75rem;
  margin-top: 1rem;
  margin-left: -.5rem;
}

main .tasks .task-card-popup p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
}

main .tasks .popup-delayed {
  background: #F04837;
}

main .tasks .task-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  background-color: white;
  border-radius: 0.875rem;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0.063rem;
  border-style: solid;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  min-height: 22rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: start;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
}

main .tasks .task-card:hover {
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

main .tasks .task-card:hover .task-card-popup {
  position: absolute;
  z-index: 100;
}

main .tasks .task-card:hover .task-card-options {
  display: block;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}

main .tasks .task-card p {
  margin: 0;
}

main .tasks .task-card-img {
  border-radius: 0.875rem 0.875rem 0 0;
  min-height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

main .tasks .task-card-title {
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1.188rem;
  color: #414141;
  padding: 0.625rem 1.125rem 0.313rem 1.125rem;
}

main .tasks .task-card-description {
  padding: 0 1.125rem 0.625rem 1.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  min-height: 2rem;
  color: #000000;
}

main .tasks .task-card-deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.125rem 0.313rem 1.125rem;
}

main .tasks .task-card-deadline-label {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  color: #000000;
  margin-right: 0.25rem !important;
}

main .tasks .task-card-deadline-date {
  color: #F04837;
  font-weight: bold;
}

main .tasks .task-card-deadline-delayed {
  color: #F04837;
  margin-left: .75rem !important;
  font-size: 0.625rem;
}

main .tasks .task-card-date {
  padding: 0 1.125rem 1.5rem 1.125rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: #414141;
}

main .tasks .task-card-options {
  display: none;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 0 1.125rem 1.125rem 1.125rem;
  -webkit-transition: -webkit-transform .2s ease;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
  font-size: 1rem;
}

main .tasks .task-card-options button {
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: 1rem 2rem;
}

main .tasks .task-card-options button:hover {
  background: #422755;
}

main .tasks .task-card-options-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .tasks .task-card-options .task-btn-finish {
  margin-bottom: 0.5rem;
}

main .tasks .task-card-options .task-btn-change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F04837;
  margin-bottom: 0.5rem;
}

main .tasks .task-card-options .task-btn-change span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

main .tasks .task-card-options .task-btn-change:hover {
  background-color: #9b2a1e;
}

main .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 50rem;
  padding: 1.5rem;
  background-color: #E5E5E5;
  border-radius: 0.5rem;
  margin-bottom: 4.375rem;
}

main .newsletter p {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #6E4B87;
  margin: 0 0 1rem 0;
}

main .newsletter form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

main .newsletter form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 1rem;
}

main .newsletter form div label {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #757575;
}

main .newsletter form input {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.5rem;
  background: white;
  height: 2.125rem;
  border: 0;
  margin-top: 0.125rem;
  padding: 0 0 0 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  color: #757575;
}

main .newsletter form button {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: 0 1rem;
  height: 2.125rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

main .newsletter form button:hover {
  background: #422755;
}

@media only screen and (max-width: 40rem) {
  main .newsletter {
    display: none;
  }
}

main .about {
  margin-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .about img {
  width: 14rem;
  margin-top: 1.25rem;
}

main .about p {
  font-size: 0.875rem;
}

@media only screen and (max-width: 40rem) {
  main .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .about img {
    margin-bottom: 2rem;
    margin-top: 0;
    width: 157px;
  }
  main .about p {
    font-size: 0.75rem;
    text-align: center;
  }
}

main .about-p {
  margin-left: 1rem;
  max-width: 45rem;
}

@media only screen and (max-width: 40rem) {
  main .about-p {
    margin-left: 0;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #422755;
  padding: 1.75rem;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  margin-top: auto;
}

footer p {
  margin: 0.25rem;
  color: white;
  font-size: 0.75rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */