//Imports
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

//Color variables
$primary: #422755;
$primary-light:#6E4B87;
$secondary: #FEAF3D;
$tertiary: #F04837;
$tertiary-dark: #9b2a1e;
$gray-dark: #757575;
$gray: #E5E5E5;

//Mixin - Breakpoints
@mixin sm {
    @media only screen and (max-width: 40rem) {
        @content;
    }
}

@mixin search-bp {
    @media only screen and (max-width: 48rem) {
        @content;
    }
}

@mixin md {
    @media only screen and (min-width: 40rem) {
        @content;
    }
}

@mixin lg {
    @media only screen and (min-width: 64rem) {
        @content;
    }
}

@mixin xl {
    @media only screen and (min-width: 80rem) {
        @content;
    }
}

//Mixin - Flex
@mixin flex {
    display: flex;
}

@mixin flex-row {
    flex-direction: row;
}

@mixin flex-wrap {
    flex-wrap: wrap;
}

@mixin flex-column {
    flex-direction: column;
}

@mixin flex-center {
    justify-content: center;
    align-content: center;
    align-items: center;
}

//Mixin - Components
@mixin standard-font {
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: normal;
}

@mixin standard-btn {
    background: $primary-light;
    border: 0;
    border-radius: 0.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: .2s ease;

    &:hover {
        background: $primary;
    }
}

@mixin standard-card {
    cursor: pointer;
    background-color: white;
    border-radius: 0.875rem;
    border-color: rgba(0, 0, 0, 0.2);
    border-width: 0.063rem;
    border-style: solid;
    text-decoration: none;
    transition: all .2s ease;
    min-height: 22rem;
}

/////////////////////////////////////////////////

body {
    @include flex();
    @include flex-column();
    background-color: white !important;
    font-family: 'Open Sans', sans-serif !important;
    margin: 0;
    min-height: 100vh;
}

.container {
    @include sm {
        margin: 1rem;
    }

    @include md {
        padding: 0 2rem;
        margin: 1rem;
    }

    @include lg {
        padding: 0 4rem;
        margin: 1.5rem;
    }

    @include xl {
        padding: 0 15rem;
        margin: 3rem;
    }
}

.header {
    @include flex();
    @include flex-column();
    @include flex-center();

    &__img {
        position: absolute;
        z-index: -1;
        top: 0;
        height: 25rem;
        width: 100%;
        object-fit: cover;

        @include sm {
            height: 12rem;
        }

        @include md {
            height: 20rem;
        }

        @include lg {
            top: -4rem;
            height: 25rem;
        }

        @include xl {
            top: -10rem;
            height: 32rem;
        }
    }

    p {
        @include standard-font();
        color: white;
        text-align: center;
    }

    &__title {
        font-size: 2.25rem;
        font-weight: 800!important;
        margin: 0.875rem;
        line-height: 49px;
        white-space: nowrap;
    }

    &__subtitle {
        font-size: 1.125rem;
        margin: 0.875rem;

        @include sm {
            margin-top: 5rem;
            margin-bottom: 0;
            color: $primary !important;
        }
    }

    @include sm {
        padding: 4rem 2rem 0 2rem;
    }

    @include md {
        padding: 6rem 2rem 4rem 2rem;
    }

    @include lg {
        padding: 6rem 2rem 6rem 2rem;
    }
}

.main {
    margin-top: 4.375rem !important;
    @include flex();
    @include flex-column();
    @include flex-center();

    @include sm {
        margin-top: 2rem !important;
    }

    .search {
        @include flex();
        @include flex-row();
        background-color: $secondary;
        margin-bottom: 4.375rem;
        padding: 1.5rem;
        border-radius: 0.5rem;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        max-width: 67.5rem;

        &__search-form {
            @include flex();
            align-items: center;

            &__input {
                @include standard-font();
                border-radius: 0.5rem 0 0 0.5rem;
                background: white;
                width: 14.625rem;
                height: 2.125rem;
                border: 0;
                padding: 0 0 0 1rem;
                font-size: 0.75rem;
                text-decoration: none;

                @include search-bp {
                    width: 80%;
                }
            }

            &__button {
                @include standard-font();
                @include standard-btn();
                width: 4.313rem;
                margin-left: -0.5rem;
                height: 2.125rem;
                font-size: 0.875rem;
            }

            @include search-bp {
                margin-bottom: 1rem;
                width: 100%;
                justify-content: center;
            }
        }

        &__organizar {
            @include flex();
            align-items: center;
            font-family: 'Open Sans', sans-serif !important;

            &__label {
                white-space: nowrap;
                color: white;
                font-size: 0.875rem;
                margin-right: 1rem;
                margin-left: 1rem;
            }

            &__select {
                border-radius: 0.5rem;
                width: 14.625rem;
                height: 2.125rem;
                border: 0;
                padding: 0 1rem;
                font-size: 0.875rem;
                cursor: pointer;
                text-decoration: none;
                background: url("data:image/svg+xml,<svg height='0.625rem' width='0.625rem' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat right #fff;
                -webkit-appearance: none;
                padding-right: 2rem !important;
                background-position: calc(100% - 0.75rem) center !important;

                @include search-bp {
                    width: 80%;
                }
            }

            @include search-bp {
                width: 100%;
                justify-content: center;
            }


        }

        @include search-bp {
            justify-content: center;
            align-content: stretch;
            padding: 2rem 1rem;
            @include flex-column();
        }

        @include sm {
            width: calc(100% - 2rem);
            margin-bottom: 2.5rem !important;
        }
    }

    .tasks {
        @include flex();
        @include flex-column();
        @include flex-center();
        margin-bottom: 4.375rem;

        &__grid {
            margin-bottom: 3.125rem;
            display: grid;
            gap: 2rem;
            list-style-type: none;
            width: 100%;
            height: 100%;

            @include sm {
                grid-template-columns: repeat(1, minmax(16rem, 1fr));
            }

            @include md {
                grid-template-columns: repeat(2, minmax(16rem, 1fr));
            }

            @include lg {
                grid-template-columns: repeat(3, minmax(16rem, 1fr));
            }

            @include xl {
                grid-template-columns: repeat(4, minmax(16rem, 1fr));
            }
        }

        &__more-task {
            @include standard-btn();
            padding: 0.5rem 2.5rem;
        }

        .task__card {
            @include flex();
            @include flex-column();
            @include standard-card();
            @include standard-font();
            justify-content: space-between;
            align-self: start;

            &__popup {
                position: absolute;
                z-index: 100;
                background: $primary;
                border: 0;
                border-radius: 0.5rem;
                font-weight: bold;
                color: white;
                border-radius: 0 .313rem .313rem 0;
                padding: .5rem .75rem;
                margin-top: 1rem;
                margin-left: -.5rem;

                p {
                    font-size: 12px;
                    @include standard-font();
                }
            }

            &__popup--delayed {
                background: $tertiary;
            }

            p {
                margin: 0;
            }

            &__img {
                border-radius: 0.875rem 0.875rem 0 0;
                min-height: 12.5rem;
                object-fit: cover;
                width: 100%;
                height: auto;
            }

            &__info {
                @include flex();
                @include flex-column();

                &__title {
                    font-weight: bolder;
                    font-size: 0.875rem;
                    line-height: 1.188rem;
                    color: #414141;
                    padding: 0.625rem 1.125rem 0.313rem 1.125rem;
                }

                &__description {
                    padding: 0 1.125rem 0.625rem 1.125rem;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    min-height: 2rem;
                    color: #000000;
                }

                &__deadline {
                    display: flex;
                    align-items: center;
                    padding: 0 1.125rem 0.313rem 1.125rem;

                    &__label {
                        font-size: 0.75rem;
                        line-height: 1rem;
                        font-weight: bold;
                        color: #000000;
                        margin-right: 0.25rem !important;
                    }

                    &__date {
                        color: $tertiary;
                        font-weight: bold;
                    }

                    &__delayed {
                        color: $tertiary;
                        margin-left: .75rem !important;
                        font-size: 0.625rem;
                    }
                }

                &__btn--finish-mobile {
                    display: none;
                    margin: 0 1.125rem 0.625rem 1.125rem;
                    @include standard-btn();
                    padding: .5rem 1rem;
                    background-color: white;
                    color: $primary;
                    border-width: 0.063rem;
                    border-style: solid;
                    border-color: $primary;

                    &:hover {
                        color: white;
                    }
                }

                &__date {
                    padding: 0 1.125rem 1.5rem 1.125rem;
                    font-size: 0.625rem;
                    line-height: 0.875rem;
                    color: #414141;
                }

                &__options {
                    opacity: 0;
                    padding: 0 1.125rem 1.125rem 1.125rem;
                    transition: all .1s ease;
                    font-size: 1rem;

                    @include sm {
                        display: none
                    }

                    button {
                        @include standard-btn();
                        padding: 1rem 2rem;
                    }

                    &__buttons {
                        @include flex();
                        @include flex-column();

                        &__finish {
                            margin-bottom: 0.5rem;
                        }

                        &__change {
                            @include flex();
                            @include flex-center();
                            background-color: $tertiary !important;
                            margin-bottom: 0.5rem;

                            span {
                                @include flex();
                                margin-right: 1rem;
                            }

                            &:hover {
                                background-color: $tertiary-dark !important;
                            }
                        }
                    }

                }

                &__clock--mobile {
                    display: none;
                    position: absolute;
                    right: 0;
                    top: 0;
                    margin-right: 1rem;
                    margin-top: 1rem;
                }
            }

            @include sm {
                @include flex-row();
                min-height: 1rem;
                cursor: initial;

                &__img {
                    border-radius: 0.875rem 0 0 0.875rem;
                    min-height: .5rem;
                    width: 40% !important;
                }

                &__info {
                    position: relative;

                    &__title {
                        padding-top: 1.125rem;
                    }

                    &__description {
                        font-size: .688rem;
                    }

                    &__btn--finish-mobile {
                        display: block;
                    }

                    &__date {
                        padding-bottom: 1.125rem;
                    }

                    &__clock--mobile {
                        display: block !important;
                    }
                }
            }

            @include md {
                height: 22rem;

                &:hover {
                    height: 30rem;
                    transform: translate3D(0, -1px, 0) scale(1.03);
                    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

                    .task__card__popup {
                        position: absolute;
                        z-index: 100;
                    }

                    .task__card__info__options {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .newsletter {
        @include flex();
        @include flex-center();
        @include flex-column();
        @include standard-font();
        align-items: flex-start;
        width: 100%;
        max-width: 50rem;
        padding: 1.5rem;
        background-color: $gray;
        border-radius: 0.5rem;
        margin-bottom: 4.375rem;

        &__title {
            font-weight: bold;
            font-size: 0.875rem;
            line-height: 1.125rem;
            color: $primary-light;
            margin: 0 0 1rem 0;
        }

        &__form {
            @include flex();
            @include flex-row();
            align-items: flex-end;
            justify-content: space-around;
            width: 100%;

            &__section {
                @include flex();
                @include flex-column();
                width: 100%;
                margin-right: 1rem;

                &__label {
                    font-weight: normal;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    color: $gray-dark;
                }

                &__input {
                    @include standard-font();
                    border-radius: 0.5rem;
                    background: white;
                    height: 2.125rem;
                    border: 0;
                    margin-top: 0.125rem;
                    padding: 0 0 0 1rem;
                    font-size: 0.75rem;
                    line-height: 1rem;
                    text-decoration: none;
                    color: $gray-dark;
                }
            }

            &__button {
                @include standard-font();
                @include standard-btn();
                padding: 0 1rem;
                height: 2.125rem;
                border-radius: 0.5rem;
                font-size: 0.875rem;
            }
        }

        @include sm {
            display: none;
        }
    }

    .about {
        @include flex();
        @include flex-row();
        align-items: flex-start;
        margin-bottom: 1.5rem;

        &__img {
            width: 14rem;
            margin-top: 1.25rem;
        }

        &__text {
            margin-left: 1rem;
            max-width: 45rem;

            &__p {
                font-size: 0.875rem;
            }

            @include sm {
                margin-left: 0;
            }

        }

        @include sm {
            @include flex-center();
            @include flex-column();

            &__img {
                margin-bottom: 2rem;
                margin-top: 0;
                width: 157px;
            }

            &__text {
                &__p {
                    font-size: 0.75rem;
                    text-align: center;
                }
            }
        }

    }
}

.footer {
    @include flex();
    @include flex-column();
    @include flex-center();
    @include standard-font();
    background-color: $primary;
    padding: 1.75rem;
    margin-top: auto;

    &__p {
        margin: 0.25rem;
        color: white;
        font-size: 0.75rem;
        text-align: center;
    }
}