@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white !important;
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  min-height: 100vh;
}

@media only screen and (max-width: 40rem) {
  .container {
    margin: 1rem;
  }
}

@media only screen and (min-width: 40rem) {
  .container {
    padding: 0 2rem;
    margin: 1rem;
  }
}

@media only screen and (min-width: 64rem) {
  .container {
    padding: 0 4rem;
    margin: 1.5rem;
  }
}

@media only screen and (min-width: 80rem) {
  .container {
    padding: 0 15rem;
    margin: 3rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__img {
  position: absolute;
  z-index: -1;
  top: 0;
  height: 25rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 40rem) {
  .header__img {
    height: 12rem;
  }
}

@media only screen and (min-width: 40rem) {
  .header__img {
    height: 20rem;
  }
}

@media only screen and (min-width: 64rem) {
  .header__img {
    top: -4rem;
    height: 25rem;
  }
}

@media only screen and (min-width: 80rem) {
  .header__img {
    top: -10rem;
    height: 32rem;
  }
}

.header p {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  color: white;
  text-align: center;
}

.header__title {
  font-size: 2.25rem;
  font-weight: bolder;
  margin: 0.875rem;
  line-height: 49px;
  white-space: nowrap;
}

.header__subtitle {
  font-size: 1.125rem;
  margin: 0.875rem;
}

@media only screen and (max-width: 40rem) {
  .header__subtitle {
    margin-top: 5rem;
    margin-bottom: 0;
    color: #422755 !important;
  }
}

@media only screen and (max-width: 40rem) {
  .header {
    padding: 4rem 2rem 0 2rem;
  }
}

@media only screen and (min-width: 40rem) {
  .header {
    padding: 6rem 2rem 4rem 2rem;
  }
}

@media only screen and (min-width: 64rem) {
  .header {
    padding: 6rem 2rem 6rem 2rem;
  }
}

.main {
  margin-top: 4.375rem !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 40rem) {
  .main {
    margin-top: 2rem !important;
  }
}

.main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #FEAF3D;
  margin-bottom: 4.375rem;
  padding: 1.5rem;
  border-radius: 0.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 67.5rem;
}

.main .search__search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .search__search-form__input {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.5rem 0 0 0.5rem;
  background: white;
  width: 14.625rem;
  height: 2.125rem;
  border: 0;
  padding: 0 0 0 1rem;
  font-size: 0.75rem;
  text-decoration: none;
}

@media only screen and (max-width: 48rem) {
  .main .search__search-form__input {
    width: 80%;
  }
}

.main .search__search-form__button {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  width: 4.313rem;
  margin-left: -0.5rem;
  height: 2.125rem;
  font-size: 0.875rem;
}

.main .search__search-form__button:hover {
  background: #422755;
}

@media only screen and (max-width: 48rem) {
  .main .search__search-form {
    margin-bottom: 1rem;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main .search__organizar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif !important;
}

.main .search__organizar__label {
  white-space: nowrap;
  color: white;
  font-size: 0.875rem;
  margin-right: 1rem;
  margin-left: 1rem;
}

.main .search__organizar__select {
  border-radius: 0.5rem;
  width: 14.625rem;
  height: 2.125rem;
  border: 0;
  padding: 0 1rem;
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
  background: url("data:image/svg+xml,<svg height='0.625rem' width='0.625rem' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat right #fff;
  -webkit-appearance: none;
  padding-right: 2rem !important;
  background-position: calc(100% - 0.75rem) center !important;
}

@media only screen and (max-width: 48rem) {
  .main .search__organizar__select {
    width: 80%;
  }
}

@media only screen and (max-width: 48rem) {
  .main .search__organizar {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (max-width: 48rem) {
  .main .search {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    padding: 2rem 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 40rem) {
  .main .search {
    width: calc(100% - 2rem);
    margin-bottom: 2.5rem !important;
  }
}

.main .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.375rem;
}

.main .tasks__grid {
  margin-bottom: 3.125rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  list-style-type: none;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 40rem) {
  .main .tasks__grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[1];
        grid-template-columns: repeat(1, minmax(16rem, 1fr));
  }
}

@media only screen and (min-width: 40rem) {
  .main .tasks__grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[2];
        grid-template-columns: repeat(2, minmax(16rem, 1fr));
  }
}

@media only screen and (min-width: 64rem) {
  .main .tasks__grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[3];
        grid-template-columns: repeat(3, minmax(16rem, 1fr));
  }
}

@media only screen and (min-width: 80rem) {
  .main .tasks__grid {
    -ms-grid-columns: (minmax(16rem, 1fr))[4];
        grid-template-columns: repeat(4, minmax(16rem, 1fr));
  }
}

.main .tasks__more-task {
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: 0.5rem 2.5rem;
}

.main .tasks__more-task:hover {
  background: #422755;
}

.main .tasks .task__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  background-color: white;
  border-radius: 0.875rem;
  border-color: rgba(0, 0, 0, 0.2);
  border-width: 0.063rem;
  border-style: solid;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  min-height: 22rem;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: start;
      align-self: start;
}

.main .tasks .task__card__popup {
  position: absolute;
  z-index: 100;
  background: #422755;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  border-radius: 0 .313rem .313rem 0;
  padding: .5rem .75rem;
  margin-top: 1rem;
  margin-left: -.5rem;
}

.main .tasks .task__card__popup p {
  font-size: 12px;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
}

.main .tasks .task__card__popup--delayed {
  background: #F04837;
}

.main .tasks .task__card p {
  margin: 0;
}

.main .tasks .task__card__img {
  border-radius: 0.875rem 0.875rem 0 0;
  min-height: 12.5rem;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.main .tasks .task__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .tasks .task__card__info__title {
  font-weight: bolder;
  font-size: 0.875rem;
  line-height: 1.188rem;
  color: #414141;
  padding: 0.625rem 1.125rem 0.313rem 1.125rem;
}

.main .tasks .task__card__info__description {
  padding: 0 1.125rem 0.625rem 1.125rem;
  font-size: 0.75rem;
  line-height: 1rem;
  min-height: 2rem;
  color: #000000;
}

.main .tasks .task__card__info__deadline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.125rem 0.313rem 1.125rem;
}

.main .tasks .task__card__info__deadline__label {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  color: #000000;
  margin-right: 0.25rem !important;
}

.main .tasks .task__card__info__deadline__date {
  color: #F04837;
  font-weight: bold;
}

.main .tasks .task__card__info__deadline__delayed {
  color: #F04837;
  margin-left: .75rem !important;
  font-size: 0.625rem;
}

.main .tasks .task__card__info__btn--finish-mobile {
  display: none;
  margin: 0 1.125rem 0.625rem 1.125rem;
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: .5rem 1rem;
  background-color: white;
  color: #422755;
  border-width: 0.063rem;
  border-style: solid;
  border-color: #422755;
}

.main .tasks .task__card__info__btn--finish-mobile:hover {
  background: #422755;
}

.main .tasks .task__card__info__btn--finish-mobile:hover {
  color: white;
}

.main .tasks .task__card__info__date {
  padding: 0 1.125rem 1.5rem 1.125rem;
  font-size: 0.625rem;
  line-height: 0.875rem;
  color: #414141;
}

.main .tasks .task__card__info__options {
  opacity: 0;
  padding: 0 1.125rem 1.125rem 1.125rem;
  -webkit-transition: all .1s ease;
  transition: all .1s ease;
  font-size: 1rem;
}

@media only screen and (max-width: 40rem) {
  .main .tasks .task__card__info__options {
    display: none;
  }
}

.main .tasks .task__card__info__options button {
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: 1rem 2rem;
}

.main .tasks .task__card__info__options button:hover {
  background: #422755;
}

.main .tasks .task__card__info__options__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .tasks .task__card__info__options__buttons__finish {
  margin-bottom: 0.5rem;
}

.main .tasks .task__card__info__options__buttons__change {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F04837 !important;
  margin-bottom: 0.5rem;
}

.main .tasks .task__card__info__options__buttons__change span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.main .tasks .task__card__info__options__buttons__change:hover {
  background-color: #9b2a1e !important;
}

.main .tasks .task__card__info__clock--mobile {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 1rem;
  margin-top: 1rem;
}

@media only screen and (max-width: 40rem) {
  .main .tasks .task__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-height: 1rem;
  }
  .main .tasks .task__card__img {
    border-radius: 0.875rem 0 0 0.875rem;
    min-height: .5rem;
    width: 40% !important;
  }
  .main .tasks .task__card__info {
    position: relative;
  }
  .main .tasks .task__card__info__title {
    padding-top: 1.125rem;
  }
  .main .tasks .task__card__info__description {
    font-size: .688rem;
  }
  .main .tasks .task__card__info__btn--finish-mobile {
    display: block;
  }
  .main .tasks .task__card__info__date {
    padding-bottom: 1.125rem;
  }
  .main .tasks .task__card__info__clock--mobile {
    display: block !important;
  }
}

@media only screen and (min-width: 40rem) {
  .main .tasks .task__card {
    height: 22rem;
  }
  .main .tasks .task__card:hover {
    height: 30rem;
    -webkit-transform: translate3D(0, -1px, 0) scale(1.03);
            transform: translate3D(0, -1px, 0) scale(1.03);
    -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  .main .tasks .task__card:hover .task__card__popup {
    position: absolute;
    z-index: 100;
  }
  .main .tasks .task__card:hover .task__card__info__options {
    opacity: 1;
  }
}

.main .newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  max-width: 50rem;
  padding: 1.5rem;
  background-color: #E5E5E5;
  border-radius: 0.5rem;
  margin-bottom: 4.375rem;
}

.main .newsletter__title {
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #6E4B87;
  margin: 0 0 1rem 0;
}

.main .newsletter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.main .newsletter__form__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-right: 1rem;
}

.main .newsletter__form__section__label {
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #757575;
}

.main .newsletter__form__section__input {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  border-radius: 0.5rem;
  background: white;
  height: 2.125rem;
  border: 0;
  margin-top: 0.125rem;
  padding: 0 0 0 1rem;
  font-size: 0.75rem;
  line-height: 1rem;
  text-decoration: none;
  color: #757575;
}

.main .newsletter__form__button {
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  background: #6E4B87;
  border: 0;
  border-radius: 0.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  -webkit-transition: .2s ease;
  transition: .2s ease;
  padding: 0 1rem;
  height: 2.125rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
}

.main .newsletter__form__button:hover {
  background: #422755;
}

@media only screen and (max-width: 40rem) {
  .main .newsletter {
    display: none;
  }
}

.main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 1.5rem;
}

.main .about__img {
  width: 14rem;
  margin-top: 1.25rem;
}

.main .about__text {
  margin-left: 1rem;
  max-width: 45rem;
}

.main .about__text__p {
  font-size: 0.875rem;
}

@media only screen and (max-width: 40rem) {
  .main .about__text {
    margin-left: 0;
  }
}

@media only screen and (max-width: 40rem) {
  .main .about {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main .about__img {
    margin-bottom: 2rem;
    margin-top: 0;
    width: 157px;
  }
  .main .about__text__p {
    font-size: 0.75rem;
    text-align: center;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif !important;
  font-style: normal;
  font-weight: normal;
  background-color: #422755;
  padding: 1.75rem;
  margin-top: auto;
}

.footer__p {
  margin: 0.25rem;
  color: white;
  font-size: 0.75rem;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */